*{
	/*background-color: 	#1C1C1C;*/
	/*border: 1px solid purple;*/
}
body{
	color: null;
	background-color: 	#1C1C1C;
}
.centro1{
	width: 60%;
	
}
.ibagem{
	width: 22px;
}
.w3-third{
	width: 20%;
}
/* A, B, P */
a{
	color: #ffffff;
	font-family: 'Times New Roman';
	padding: 0.5%;
	text-decoration: none;
}
a:hover{
	/*color: rgb(0, 0, 0);*/
	cursor: pointer;
}
b{
	font-size: 100%
}
p {
	color: white;
	font-family: 'Times New Roman', Times, serif;
	padding: 0.5%;
	font-size: 100%;
}
/* Hs*/
h1{
	color: #ffffff;
	font-family: 'castellar';
	padding: 0.5%;
	/*font-size: 5vw;*/
}
.titulo{
	font-family: 'castellar';
	margin: 0.5%;
}
h2{
	color: #ffffff;
	font-family: 'Cinzel', serif;
	padding: 0%;
}
h2:hover{
	cursor: pointer;
	color: rgb(0, 0, 0);
}
h3{
	color: #ffffff;
	font-size: 130%;
	font-family: 'Cinzel', serif;
}

/*botão*/
button {
	background-color: 	#1C1C1C;
	border: 2px solid #ffffff;
	color: #ffffff;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 70%;
	border-radius: 500px;
  }
button:hover{
	cursor: pointer;
}

/*menu*/
.menu{
	background-color: black;
	overflow: hidden;
	border-radius: 500px;
}
.menu a{
	float: left;
	background-color: black;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
	
}
.menu a:hover{
	background-color: white;
	color: black;
}
.menu a.active{
	background-color: white;
	color: black;
}
.menu a.active1{
	background-color: white;
	color: black;
}
/**/

/*formulario*/
/* form{
	background-color: black;
	float: right;
	padding: 14px 16px;
} */
.direita form{
	background-color: black;
	float: right;
	padding: 10px 16px;
	
}
.cont form{
	background-color: #1C1C1C;
	float: left;
	padding: 14px 16px;
}
/*pesquisa*/
.pesquisa{
	float: right;
	color: #ffffff;
	width: null;
	height: null;
	border-radius: null;
}

/* input*/
input{
	border-radius: 500px;
	background-color: null;
	border-color: #ffffff;
	width: 150px;
	text-align: center;
	color: #ffffff;
	padding: 0%;
}

/* sei q é isso n*/
label{
	color: #ffffff;
}

/* tabela e elementos da tabela */
table{
	background-color: white;
	size: 30%;
	font-family: 'Cinzel', serif;
}
th{
	color: white;
	font-family: 'Cinzel', serif;
	text-align: center;
}
td{
	color: white;
	font-family: 'Cinzel', serif;
	text-align: center;
}
.tabela{
	size: 100%;
}

/* rodapé */
footer{
    position: bottom;
    bottom: 0;
	right: 0;
    background-color: null;
	border-color: black;
	border: 1px solid black;
    color: rgb(250, 250, 250);
    width: 100%;
    height: 35px;    
    text-align: center;
    line-height: 35px;
}

/* h1 mais imagem */
.logo h1{
	float: left;
	
}
.logo img{
	position: relative;
	width: 80px;
	height: 84px;
}

.video{
	display: flex;
	width: 560px;
	height: 315px;
	/* width="560vw" height="315vw" */
	overflow: hidden;
	/* padding-top: 56.25%; /* 16:9*/ 
	
}

/*lista*/
li{
	color: white;
	font-family: 'Cinzel', serif;
}

.centro{
	display: flex;
	float: center;
	position: top;
	flex-wrap: nowrap;
	flex: row;
	align-self: baseline;
	flex-direction: row;
	/*position: relative;*/
	/*width: 60vw;*/
	width: 60%;
	
}
.espaco{
	margin: 1%;
}
.imagem2{
	margin: 1%;
	width: 130px;
	height: 157px;
	/*background-color: #181414;
	border-color: #181414;*/
}
p{
	margin: 1px;
}	

.ap{
	font-size: 120%;
}

.direita1{
	float: right;
	display: flex;
	position: top;
	flex: row;
	align-self: flex-start;
	flex-direction: row;
	position: relative;
	/*width: 20vw;*/
	width: 20%;
	margin: 5%;
}

.esquerda1{
	float: left;
	/*width: 20vw;*/
	margin: 1%;
	width: 20%;
	border-image-width: 100px;
	

}

.imagem1{
	width: 20vw;
	height: 27vw;
	
}
.tw{
	width: 100px;
	height: 100px;
}
.margem{
	margin: 15px;
}
/*responsividade da fonte*/
@media screen and (max-width: 450px) {
	/**/
	.menu{
		/* size: 100%; */
		border-radius: 0;
		width: 100vw;
	}
	.menu a{
		font-size: 4vw;
		padding: 1px 5px;
	}
	/**/
	.pesquisa{
		width: 75px;
		height: 24px;
		padding: 5px 9px;
	}
	/**/
	button {
		border: 2px solid #ffffff;
		padding: 1px 4px;
		text-align: center;
		font-size: 60%;
		border-radius: 500px;
	}
	/**/
	.direita form{
		padding: 3px 6px;
		size: 25px;
	}
	/**/
	.logo{
		font-size: 60%;
	}
	.logo img{
		position: relative;
		width: 50px;
		height: 50px;
	}
	a{
		color: #fcfcfc;
	}
	/**/
	h2{
		font-size: 98%;
		color: #fcfcfc;
	}
	h3{
		color: #fcfcfc;
	}
	/**/
	p{
		font-size: 100%;
		color: white;
	}
	/**/
	table{
		size: 100%;
	}
	th{
		color: white;
		text-align: center;
		font-family: 'Cinzel', serif;
	}
	td{
		color: white;
		font-family: 'Cinzel', serif;
		text-align: center;
	}
	/*ajustar video do youtube*/
	.video{
		width: 390px;
		height: 265px;
		/* width="560vw" height="315vw" */
		overflow: hidden;
		/* padding-top: 56.25%; /* 16:9*/ 
		
	}
	.video1{
		width: 390px;
		height: 265px;
		/* width="560vw" height="315vw" */
		overflow: hidden;
		/* padding-top: 56.25%; /* 16:9*/ 
		
	}
	li{
		color: white;
		font-family: 'Cinzel', serif;
	}
	.centro{
		float: left;
		display: flow-root;
	}
	.direita1{
		float: left;
		position: end;

	}
	.esquerda1{
		width: 90vw;
		position: initial;
	}
	.imagem1{
		width: 400px;
		height: 500px;
		margin: 25px;
	}
	.imagem2{
		width: 400px;
		height: 500px;
	}
	.titulo{
		margin: 25px;
	}
	.text{
		margin: 25px;
	}

}

/*conteudo lado a lado*/
@media screen and (min-width: 460px) and ( max-width: 1400px) {
	.video1{
		width: 560px;
		height: 315px;
		/* width="560vw" height="315vw" */
		overflow: hidden;
		/* padding-top: 56.25%; /* 16:9*/ 
		
	}

}
